@font-face {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope Regular'), local('Manrope Regular'),
    url('./Manrope-Regular.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Manrope Semibold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope Semibold'), local('Manrope Semibold'),
    url('./Manrope-SemiBold.woff2') format('woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: fallback-font;
  src: local(Arial);
  font-weight: 900;
}
