@layer components {
  .Button {
    border: 1px solid transparent;
    border-radius: var(--control-borderRadius);
    height: var(--control-medium-height);
    transition: var(--transition);
    display: flex;
    grid-template-columns: minmax(0, auto) min-content;
    gap: var(--control-gap-spacious);
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: var(--control-medium-fontSize);
    padding-inline: var(--control-paddingInline-normal);
    text-align: center;
    cursor: pointer;
    min-width: "max-content";

    &:disabled {
      cursor: not-allowed;
    }

    &[data-variant="primary"] {
      background: var(--bg-control-primary);
      border-color: var(--bg-control-primary);
      color: var(--text-control-primary);

      &:hover:not(:disabled) {
        background: var(--bg-control-primary-hover);
      }

      &:active {
        background: var(--bg-control-primary-active);
      }

      &:disabled {
        background: var(--bg-control-primary-disabled);
        color: var(--text-control-primary-disabled);
      }

      &:focus-visible {
        @mixin focusOutline -2px, currentColor;
      }
    }

    &[data-variant="primaryGhost"] {
      background: transparent;
      border: solid 1px var(--border-control-primaryGhost);
      color: var(--text-control-primaryGhost);

      &:hover:not(:disabled) {
        background: var(--bg-control-primaryGhost-hover);
      }

      &:active {
        background: var(--bg-control-primaryGhost-active);
      }

      &:disabled {
        background: var(--bg-control-primaryGhost-disabled);
        color: var(--text-control-primaryGhost-disabled);
        border-color: var(--border-control-primaryGhost-disabled);
      }

      &:focus-visible {
        @mixin focusOutline -2px, var(--text-control-primary);
      }
    }

    &[data-variant="secondary"] {
      background: var(--bg-control-secondary);
      border-color: var(--bg-control-secondary);
      color: var(--text-control-secondary);

      &:hover:not(:disabled) {
        background: var(--bg-control-secondary-hover);
      }

      &:active {
        background: var(--bg-control-secondary-active);
      }

      &:disabled {
        background: var(--bg-control-secondary-disabled);
        color: var(--text-control-secondary-disabled);
      }

      &:focus-visible {
        @mixin focusOutline -4px, currentColor;
      }
    }

    &[data-variant="secondaryGhost"] {
      background: transparent;
      border: solid 1px var(--border-control-secondaryGhost);
      color: var(--text-control-secondaryGhost);

      &:hover:not(:disabled) {
        background: var(--bg-control-secondaryGhost-hover);
      }

      &:active {
        background: var(--bg-control-secondaryGhost-active);
      }

      &:disabled {
        background: var(--bg-control-secondaryGhost-disabled);
        color: var(--text-control-secondaryGhost-disabled);
        border-color: var(--border-control-secondaryGhost-disabled);
      }

      &:focus-visible {
        @mixin focusOutline -2px, var(--text-link);
      }
    }

    &[data-variant="muted"] {
      background: var(--bg-control-muted);
      border-color: var(--bg-control-muted);
      color: var(--text-control-primary);

      &:hover:not(:disabled) {
        background: var(--bg-control-muted-hover);
      }

      &:active {
        background: var(--bg-control-muted-active);
      }

      &:disabled {
        background: var(--bg-control-muted-disabled);
        color: var(--text-control-muted-disabled);
        cursor: not-allowed;
      }

      &:focus-visible {
        @mixin focusOutline -2px, currentColor;
      }
    }

    &[data-variant="danger"] {
      background: var(--bg-control-danger);
      border-color: var(--border-control-danger);
      color: var(--text-control-danger);

      &:hover:not(:disabled) {
        background: var(--bg-control-danger-hover);
        color: var(--text-control-danger-hover);
      }

      &:active {
        background: var(--bg-control-danger-active);
      }

      &:disabled {
        background: var(--bg-control-danger-disabled);
        color: var(--text-control-danger-disabled);
        border-color: var(--border-control-danger-disabled);
      }

      &:focus-visible {
        @mixin focusOutline -2px, var(--text-control-primary);
      }
    }

    &[data-width="fullWidth"] {
      width: 100%;
    }

    &[data-size="small"] {
      height: var(--control-small-height);
      font-size: var(--control-small-fontSize);
      padding-inline: var(--control-paddingInline-condensed);
    }

    &.Button-iconOnly {
      width: var(--control-medium-height);
      padding: unset;
      place-content: center;
      font-size: var(--size-20);

      &[data-size="small"] {
        width: var(--control-small-height);
        font-size: var(--control-medium-fontSize);
      }

      &[data-trailing-action] {
        padding-inline: var(--control-paddingInline-condensed);
        gap: var(--control-gap-normal);
        width: inherit;
      }
    }
  }

  .Button-content {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--control-gap-normal);

    &[data-icon-position="right"] {
      & .Button-icon {
        order: 2;
      }
    }

    &[data-align-content="start"] {
      justify-content: flex-start;
    }
  }

  .Button-icon {
    display: grid;
    place-content: center;
  }
}
