@layer components {
    .Card {
        --card-border: var(--border-default);
        --card-bg: var(--bg-inverse);
        border: solid var(--border-width-default) var(--border-default);
        border-radius: var(--border-radius-default);
        background-color: var(--bg-2);
        display: inline-block;
        overflow: hidden;

        &[data-fullwidth="true"] {
            display: block;
        }

        & [data-padding="normal"], &[data-padding="normal"] {
            padding: var(--card-padding-normal);
        }

        & [data-padding="condensed"], &[data-padding="condensed"] {
            padding: var(--card-padding-condensed);
        }

        &[data-variant="positive"] {
            --card-border: var(--border-positive);
            --card-bg: var(--text-positive);
            background-color: var(--bg-positive);
            border-color: var(--border-positive);
            color: var(--text-positive);
        }

        &[data-variant="negative"] {
            --card-border: var(--border-negative);
            --card-bg: var(--text-negative);
            background-color: var(--bg-negative);
            border-color: var(--border-negative);
            color: var(--text-negative);
        }

        &[data-variant="warning"] {
            --card-border: var(--border-warning);
            --card-bg: var(--text-warning);
            background-color: var(--bg-warning);
            border-color: var(--border-warning);
            color: var(--text-warning);
        }

        &[data-variant="neutral"] {
            --card-border: var(--border-neutral);
            --card-bg: var(--text-neutral);
            background-color: var(--bg-neutral);
            border-color: var(--border-neutral);
            color: var(--text-neutral);
        }

        &[data-variant="gold"] {
            --card-border: var(--border-gold);
            --card-bg: var(--text-gold);
            background-color: var(--bg-gold);
            border-color: var(--border-gold);
            color: var(--text-gold);
        }

        &[data-variant="silver"] {
            --card-border: var(--border-silver);
            --card-bg: var(--text-silver);
            background-color: var(--bg-silver);
            border-color: var(--border-silver);
            color: var(--text-silver);
        }

        &[data-variant="bronze"] {
            --card-border: var(--border-bronze);
            --card-bg: var(--text-bronze);
            background-color: var(--bg-bronze);
            border-color: var(--border-bronze);
            color: var(--text-bronze);
        }

        /* soooooon */
        /* &:has(.Card-title) {
            padding: 0;
        } */

        &[data-has-title="true"] {
            padding: 0;
        }

        & .Card-title {
            padding-block: var(--card-padding-condensed);
            background-color: var(--card-bg);
            border-bottom: solid var(--border-width-default) var(--card-border);
            color: var(--text-inverse);
            font-size: var(--text-size-body-small);
            font-weight: var(--text-weight-semibold);
        }
    }
}
