@layer components {
  .ChangeVisualizer {
    display: inline-grid;
    grid-template-columns: min-content auto;
    gap: var(--gap-condensed);
    align-items: center;
    font-size: var(--text-size-body-medium);
    font-weight: var(--text-weight-semibold);

    &[data-size="small"] {
      font-size: var(--text-size-body-small);
    }
  }
}
