@layer components {
  .Heading {
    line-height: var(--text-lineHeight-default);
    font-weight: var(--text-weight-semibold);
    color: var(--text-default);

    /* defaults */

    &h1 {
      font-size: var(--text-size-display);
      line-height: var(--text-lineHeight-display);
    }

    &h2 {
      font-size: var(--text-size-title-large);
    }

    &h3 {
      font-size: var(--text-size-title-medium);
      font-weight: var(--text-weight-regular);
    }

    &h4 {
      font-size: var(--text-size-title-small);
      color: var(--text-default);
    }

    &h5 {
      font-size: var(--text-size-body-large);
      color: var(--text-default);
    }

    &h6 {
      font-size: var(--text-size-body-medium);
      color: var(--text-default);
    }

    /* size options */

    &[data-size="display"] {
      font-size: var(--text-size-display);
      font-family: var(--font-family-display);
      line-height: var(--text-lineHeight-display);
    }

    &[data-size="title-large"] {
      font-size: var(--text-size-title-large);
    }

    &[data-size="title-medium"] {
      font-size: var(--text-size-title-medium);
      font-weight: var(--text-weight-regular);
    }

    &[data-size="title-small"] {
      font-size: var(--text-size-title-small);
      color: var(--text-default);
    }

    &[data-size="body-large"] {
      font-size: var(--text-size-body-large);
      color: var(--text-default);
    }

    &[data-size="body-medium"] {
      font-size: var(--text-size-body-medium);
      color: var(--text-default);
    }
  }
}
