@layer compositions {
  .MarketTradeCard {
    border-radius: var(--border-radius-default);
    background: var(--bg-3);
    padding: var(--padding-normal);
    display: grid;
    grid-template-areas: "image content trade";
    grid-template-columns: max-content auto max-content;
    grid-template-rows: min-content;
    gap: var(--gap-spacious);
    align-items: center;
  }

  .MarketTradeCard-content {
    border-inline-end: 1px solid var(--border-default);
    padding-inline-end: var(--padding-spacious);

    /* &::after {
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      background: var(--border-default);
      position: absolute;
      right: 0;
      top: 0;
    } */
  }

  .MarketTradeCard-trade {
    grid-area: trade;
    display: grid;
    gap: var(--gap-condensed) var(--gap-spacious);
    grid-template-columns: min-content auto;
    align-items: center;

    & input {
      width: 10ch;
    }
  }
}
