@layer compositions {
  .MarketTradeCard {
    border-radius: var(--border-radius-default);
    background: var(--bg-3);
    padding: var(--padding-spacious);
    display: grid;
    grid-template-areas: "image content trade";
    grid-template-rows: min-content;
  }

  .MarketTradeCard-content {
    display: grid;
    grid-template-areas: "title change" "rating change";
  }

  .MarketTradeCard-change {
    display: flex;
    flex-direction: column;
    gap: var(--gap-condensed);
    grid-area: change;
  }

  .MarketTradeCard-input {
    display: flex;
    flex-direction: row;
    gap: var(--gap-condensed);
    align-items: center;
  }
}
