@layer components {

  .NavMenu-root {
    position: relative;
    width: 300px;
  }

  .NavMenu-trigger {
    position: relative;
  }

  .NavMenu-trigger[data-state="open"] {
    & .NavMenu-trigger-icon {
      transform: rotate(180deg);
    }
  }

  .NavMenu-overlay {
    background: var(--bg-overlay);
    border-radius: var(--overlay-border-radius);
    padding: var(--overlay-padding-condensed);
    display: flex;
    flex-direction: column;
    width: min(var(--overlay-width), 100vw - 2rem);
    min-width: var(--overlay-min-width);
    max-height: min(100vh - 2rem, var(--overlay-height));
    box-shadow: 0 -2px 5px 0 hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 2%)),
      0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
      0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
      0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
      0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
      0 16px 16px -2px hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 6%));
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: 250ms;
    animation-timing-function: ease;
  }

  .NavMenu-overlayPosition {
    position: absolute;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    top: 0;
    left: 0;
    /* perspective: 2000px; */
  }

  .NavigationMenuViewport {
    position: absolute;
    z-index: 1000;
    /* transform-origin: top center; */
    margin-top: 0.5rem;
    width: 100%;
    /* background-color: white;
    border-radius: 6px;
    overflow: hidden; */
    /* box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px; */
    /* height: var(--radix-navigation-menu-viewport-height); */
    /* transition: width, height, 300ms ease; */
  }
  .NavigationMenuViewport[data-state='open'] {
    animation: scaleIn 200ms ease;
  }
  .NavigationMenuViewport[data-state='closed'] {
    animation: scaleOut 200ms ease;
  }
  @media only screen and (min-width: 600px) {
    .NavigationMenuViewport {
      width: var(--radix-navigation-menu-viewport-width);
    }
  }


  .NavMenu-item {
    color: var(--text-default);
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    height: var(--control-small-height);
    padding-inline: var(--control-paddingInline-condensed);
    border-radius: var(--border-radius-default);
    transition: var(--transition);
    position: relative;
    gap: var(--control-gap-normal);
    cursor: pointer;

    &:hover {
      background-color: var(--bg-control-muted-hover);
    }

    &:focus-visible {
      @mixin focusOutline -2px, var(--text-link);
    }

    &.hasIndicator {
      display: grid;
      grid-template-columns: var(--size-16) auto;
    }

    & .NavMenu-itemLabel {
      grid-column: 2 / 3;
    }
  }

  .NavMenu-label {
    color: var(--text-secondary);
    font-size: var(--text-size-body-small);
    padding-inline: var(--control-paddingInline-condensed);
  }

  .NavMenu-divider {
    height: 1px;
    background-color: var(--border-default);
    margin: var(--size-4);
  }
}
