@layer components {
  .AppLayout {
    &[data-panel-collapsed="true"] {
      & .PageLayout {
        @media (--lg-n-above) {
          --layout-split-grid-columns: auto var(--layout-split-content-width);
          --layout-split-grid-rows: auto;
        }
      }
    }
  }

  .PageLayout {
    --layout-content-width: auto;
    --layout-split-content-width: var(--size-368);

    & .PageLayout-container {
      max-width: var(--layout-content-width);

      &[data-container-col="split"] {
        display: grid;
        gap: var(--gap-normal);
      }
    }

    @media (--lg-n-above) {
      --layout-content-width: var(--container-lg-1024);
      --layout-split-content-width: var(--size-368);
      --layout-split-grid-columns: auto;
      --layout-split-grid-rows: auto auto;

      & .PageLayout-container {
        max-width: var(--layout-content-width);

        &[data-container-col="split"] {
          grid-template-columns: var(--layout-split-grid-columns);
          grid-template-rows: var(--layout-split-grid-rows);
        }
      }
    }

    @media (--xl-n-above) {
      --layout-content-width: var(--container-lg-1024);
      --layout-split-content-width: var(--size-368);
      --layout-split-grid-columns: auto var(--layout-split-content-width);
      --layout-split-grid-rows: auto;

      & .PageLayout-container {
        max-width: var(--layout-content-width);

        &[data-container-col="split"] {
          grid-template-columns: var(--layout-split-grid-columns);
          grid-template-rows: var(--layout-split-grid-rows);
        }
      }
    }

    @media (--xxl-n-above) {
      --layout-content-width: var(--container-lg-1024);
      --layout-split-content-width: var(--size-368);
    }
  }

  .PageLayout-content {
    &[data-container-align="center"] {
      max-width: calc(var(--layout-content-width) + var(--sidepane-width) + 1rem);
      margin-inline: auto;
      transition: max-width 0.3s var(--ease-in-out-1);
    }
  }
}
