@layer components {
  .StarRating {
    display: inline-grid;
    grid-template-columns: min-content auto;
    gap: var(--gap-condensed);
    align-items: baseline;

    & svg {
      color: var(--text-warning);
      height: var(--size-20);
      width: var(--size-20);
    }
  }

  .StarRating-label {
    font-size: var(--text-size-body-medium);
    font-weight: var(--text-weight-semibold);
    /* font-family: var(--font-family-display); */
  }
}
