@font-face {
  font-family: "Manrope Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Manrope Regular"), local("Manrope Regular"),
    url("/fonts/Manrope-Regular.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Manrope Semibold";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Manrope Semibold"), local("Manrope Semibold"),
    url("/fonts/Manrope-SemiBold.woff2") format("woff2");
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: fallback-font;
  src: local(arial);
  font-weight: 900;
}

@font-face {
  font-family: "Bungee Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Bungee Regular"), local("Bungee Regular"),
    url("/fonts/Bungee-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Bungee Shade";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Bungee Shade"), local("Bungee Shade"),
    url("/fonts/Bungee-Shade-webfont.woff") format("woff");
}
