@import-glob "./components/**/*.css";
@import-glob "./open-props/**/*.css";

@layer reset, base, components;

/* @media (prefers-color-scheme: dark) {
  :root { */
[data-theme="dark"] {
  /* base */
  --bg-1: var(--slate1);
  --bg-2: var(--slate2);
  --bg-inverse: var(--slate11);
  --bg-link: var(--text-link);
  --bg-overlay: var(--bg-2);
  --border-default: var(--slate8);
  --text-default: var(--slate12);
  --text-secondary: var(--slate11);
  --text-inverse: var(--slate1);
  --text-link: var(--indigo11);
  --text-link-hover: var(--indigoA11);

  /* shadows */
  --shadow-strength: 25%;
  --shadow-color: 220 40% 2%;

  /* overlay */

  /* controls */

  /* bg */
  --bg-control-secondary: #ffffff;
  --bg-control-secondary-hover: var(--slate12);
  --bg-control-secondary-active: hsl(210 6% 83%);
  --bg-control-secondary-disabled: var(--slate10);
  --bg-control-secondaryGhost-hover: var(--slateA4);
  --bg-control-secondaryGhost-active: var(--slateA5);
  --bg-control-secondaryGhost-disabled: var(--slateA7);
  --bg-control-muted: var(--slate3);
  --bg-control-muted-hover: var(--slate4);
  --bg-control-muted-active: var(--slate5);
  --bg-control-muted-disabled: hsl(182 86.7% 91.4% / 5.7%);
  --bg-control-primary-disabled: hsl(322 74.9% 45% / 60%);
  --bg-control-primary: var(--pink8);
  --bg-control-primary-hover: hsl(322 74.9% 45%);
  --bg-control-primary-active: hsl(322 74.9% 49%);
  --bg-control-primaryGhost-hover: var(--pinkA4);
  --bg-control-primaryGhost-active: var(--pinkA5);
  --bg-control-primaryGhost-disabled: var(--pinkA7);
  --bg-control-danger: var(--bg-negative);
  --bg-control-danger-hover: var(--text-negative);
  --bg-control-danger-active: var(--tomato4);
  --bg-control-danger-disabled: var(--tomato5);

  /* border */
  --border-control-secondaryGhost: #ffffff;
  --border-control-secondaryGhost-disabled: var(--slate11);
  --border-control-secondary-strong: var(--slate8);
  --border-control-primaryGhost: var(--pink10);
  --border-control-primaryGhost-disabled: var(--pink9);
  --border-control-danger: var(--text-negative);
  --border-control-danger-disabled: var(--tomato8);

  /* text */
  --text-control-secondary: var(--slate1);
  --text-control-secondary-disabled: var(--slate12);
  --text-control-secondaryGhost: #ffffff;
  --text-control-secondaryGhost-disabled: var(--slate11);
  --text-control-primary: #ffffff;
  --text-control-primary-disabled: var(--pink11);
  --text-control-primaryGhost: var(--pink10);
  --text-control-primaryGhost-disabled: var(--pink9);
  --text-control-muted: #ffffff;
  --text-control-muted-disabled: var(--slate11);
  --text-control-danger: var(--text-negative);
  --text-control-danger-hover: var(--slate1);
  --text-control-danger-disabled: var(--tomato8);
  --text-control-placeholder: var(--slate10);

  /* semantic */
  --bg-positive: var(--green3);
  --bg-negative: var(--tomato3);
  --bg-warning: var(--amber3);
  --bg-neutral: var(--indigo3);
  --bg-gold: var(--gold5);
  --bg-silver: var(--slate5);
  --bg-bronze: var(--bronze5);
  --border-positive: var(--green8);
  --border-negative: var(--tomato8);
  --border-warning: var(--amber8);
  --border-neutral: var(--indigo8);
  --border-gold: var(--gold9);
  --border-silver: var(--slate9);
  --border-bronze: var(--bronze9);
  --text-positive: var(--green11);
  --text-negative: var(--tomato11);
  --text-warning: var(--amber11);
  --text-neutral: var(--indigo11);
  --text-gold: var(--gold11);
  --text-silver: var(--slate11);
  --text-bronze: var(--bronze11);
}

/* } */

:root {
  /* black alpha */
  --blackA1: hsl(0 0% 0% / 1.2%);
  --blackA2: hsl(0 0% 0% / 2.7%);
  --blackA3: hsl(0 0% 0% / 4.7%);
  --blackA4: hsl(0 0% 0% / 7.1%);
  --blackA5: hsl(0 0% 0% / 9%);
  --blackA6: hsl(0 0% 0% / 11.4%);
  --blackA7: hsl(0 0% 0% / 14.1%);
  --blackA8: hsl(0 0% 0% / 22%);
  --blackA9: hsl(0 0% 0% / 43.9%);
  --blackA10: hsl(0 0% 0% / 47.8%);
  --blackA11: hsl(0 0% 0% / 56.5%);
  --blackA12: hsl(0 0% 0% / 91%);

  /* white alpha */
  --whiteA1: hsl(0 0% 100% / 0%);
  --whiteA2: hsl(0 0% 100% / 1.3%);
  --whiteA3: hsl(0 0% 100% / 3.4%);
  --whiteA4: hsl(0 0% 100% / 5.6%);
  --whiteA5: hsl(0 0% 100% / 8.6%);
  --whiteA6: hsl(0 0% 100% / 12.4%);
  --whiteA7: hsl(0 0% 100% / 17.6%);
  --whiteA8: hsl(0 0% 100% / 24.9%);
  --whiteA9: hsl(0 0% 100% / 38.6%);
  --whiteA10: hsl(0 0% 100% / 44.6%);
  --whiteA11: hsl(0 0% 100% / 59.2%);
  --whiteA12: hsl(0 0% 100% / 92.3%);

  /* size */
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --size-80: 5rem;
  --size-96: 6rem;
  --size-112: 7rem;
  --size-128: 8rem;

  /* border radius */
  --border-radius-default: var(--size-4);
  --border-radius-large: var(--size-12);

  /* border */
  --border-width-default: 1px;

  /* card */
  --card-padding-condensed: var(--size-4);
  --card-padding-normal: var(--size-8);

  /* controls */
  --control-borderRadius: var(--border-radius-default);
  --control-paddingInline-normal: var(--size-16);
  --control-paddingInline-condensed: var(--size-12);
  --control-gap-normal: var(--size-8);
  --control-gap-spacious: var(--size-16);
  --control-medium-fontSize: var(--size-16);
  --control-medium-height: var(--size-44);
  --control-small-fontSize: var(--size-14);
  --control-small-height: var(--size-32);

  /* layout wip */
  --gap-condensed: var(--size-4);
  --gap-normal: var(--size-8);
  --gap-spacious: var(--size-16);
  --padding-condensed: var(--size-4);
  --padding-normal: var(--size-8);
  --padding-spacious: var(--size-16);
  --stack-gap-condensed: var(--size-8);
  --stack-gap-normal: var(--size-16);
  --stack-gap-spacious: var(--size-24);

  /* overlays */
  --overlay-border-radius: var(--border-radius-large);
  --overlay-padding: var(--size-16);
  --overlay-padding-condensed: var(--size-8);
  --overlay-min-width: calc(var(--size-64) * 3); /* 192px */
  --overlay-height: calc(var(--size-64) * 6.75); /* 432px */
  --overlay-width: calc(var(--size-64) * 5); /* 320px */
  --overlay-shadow: 0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));

  /* typography */
  --font-family-fallback: -apple-system, blinkmacsystemfont, segoe, ui, roboto, oxygen, ubuntu,
    cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-family-display: "Bungee Regular", var(--font-family-fallback);
  --font-family-regular: "Manrope Regular", var(--font-family-fallback);
  --font-family-semibold: "Manrope Semibold", var(--font-family-fallback);
  --text-size-display: var(--size-40);
  --text-size-title-large: var(--size-28);
  --text-size-title-medium: var(--size-24);
  --text-size-title-small: var(--size-20);
  --text-size-body-large: var(--size-18);
  --text-size-body-medium: var(--size-16);
  --text-size-body-small: var(--size-14);
  --text-weight-regular: 400;
  --text-weight-semibold: 500;
  --text-lineHeight-display: 1.4;
  --text-lineHeight-default: 1.5;
}

@layer base {
  html,
  body {
    font-family: var(--font-family-regular);
    color: var(--text-default);
    background: var(--bg-1);
  }

  img {
    border-radius: var(--border-radius-default);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}
