[data-theme="light"] {
  /* slate */
  --slate1: hsl(206 30% 98.8%);
  --slate2: hsl(210 16.7% 97.6%);
  --slate3: hsl(209 13.3% 95.3%);
  --slate4: hsl(209 12.2% 93.2%);
  --slate5: hsl(208 11.7% 91.1%);
  --slate6: hsl(208 11.3% 88.9%);
  --slate7: hsl(207 11.1% 85.9%);
  --slate8: hsl(205 10.7% 78%);
  --slate9: hsl(206 6% 56.1%);
  --slate10: hsl(206 5.8% 52.3%);
  --slate11: hsl(206 6% 43.5%);
  --slate12: hsl(206 24% 9%);

  /* indigo */
  --indigo1: hsl(225 60% 99.4%);
  --indigo2: hsl(223 100% 98.6%);
  --indigo3: hsl(223 98.4% 97.1%);
  --indigo4: hsl(223 92.9% 95%);
  --indigo5: hsl(224 87.1% 92%);
  --indigo6: hsl(224 81.9% 87.8%);
  --indigo7: hsl(225 77.4% 82.1%);
  --indigo8: hsl(226 75.4% 74.5%);
  --indigo9: hsl(226 70% 55.5%);
  --indigo10: hsl(226 58.6% 51.3%);
  --indigo11: hsl(226 55% 45%);
  --indigo12: hsl(226 62% 17%);

  /* pink */
  --pink1: hsl(322 100% 99.4%);
  --pink2: hsl(323 100% 98.4%);
  --pink3: hsl(323 86.3% 96.5%);
  --pink4: hsl(323 78.7% 94.2%);
  --pink5: hsl(323 72.2% 91.1%);
  --pink6: hsl(323 66.3% 86.6%);
  --pink7: hsl(323 62% 80.1%);
  --pink8: hsl(323 60.3% 72.4%);
  --pink9: hsl(322 65% 54.5%);
  --pink10: hsl(322 63.9% 50.7%);
  --pink11: hsl(322 75% 46%);
  --pink12: hsl(320 70% 13.5%);

  /* tomato */
  --tomato1: hsl(10 100% 99.4%);
  --tomato2: hsl(8 100% 98.4%);
  --tomato3: hsl(8 100% 96.6%);
  --tomato4: hsl(8 100% 94.3%);
  --tomato5: hsl(8 92.8% 91%);
  --tomato6: hsl(9 84.7% 86.3%);
  --tomato7: hsl(10 77.3% 79.5%);
  --tomato8: hsl(10 71.6% 71%);
  --tomato9: hsl(10 78% 54%);
  --tomato10: hsl(10 71.5% 50%);
  --tomato11: hsl(10 82% 43.5%);
  --tomato12: hsl(10 50% 13.5%);

  /* green */
  --green1: hsl(136 50% 98.9%);
  --green2: hsl(138 62.5% 96.9%);
  --green3: hsl(139 55.2% 94.5%);
  --green4: hsl(140 48.7% 91%);
  --green5: hsl(141 43.7% 86%);
  --green6: hsl(143 40.3% 79%);
  --green7: hsl(146 38.5% 69%);
  --green8: hsl(151 40.2% 54.1%);
  --green9: hsl(151 55% 41.5%);
  --green10: hsl(152 57.5% 37.6%);
  --green11: hsl(153 67% 28.5%);
  --green12: hsl(155 40% 14%);

  /* amber */
  --amber1: hsl(39 70% 99%);
  --amber2: hsl(40 100% 96.5%);
  --amber3: hsl(44 100% 91.7%);
  --amber4: hsl(43 100% 86.8%);
  --amber5: hsl(42 100% 81.8%);
  --amber6: hsl(38 99.7% 76.3%);
  --amber7: hsl(36 86.1% 67.1%);
  --amber8: hsl(35 85.2% 55.1%);
  --amber9: hsl(39 100% 57%);
  --amber10: hsl(35 100% 55.5%);
  --amber11: hsl(30 100% 34%);
  --amber12: hsl(20 80% 17%);

  /* gold */
  --gold1: hsl(50 20% 99.1%);
  --gold2: hsl(47 52.9% 96.7%);
  --gold3: hsl(46 38.2% 93.7%);
  --gold4: hsl(44 32.7% 90.1%);
  --gold5: hsl(43 29.9% 85.7%);
  --gold6: hsl(41 28.3% 79.8%);
  --gold7: hsl(39 27.6% 71.9%);
  --gold8: hsl(36 27.2% 61.8%);
  --gold9: hsl(36 20% 49.5%);
  --gold10: hsl(36 19.8% 45.7%);
  --gold11: hsl(36 20% 39%);
  --gold12: hsl(36 16% 20%);

  /* bronze */
  --bronze1: hsl(15 30% 99.1%);
  --bronze2: hsl(17 63.6% 97.8%);
  --bronze3: hsl(17 42.1% 95.2%);
  --bronze4: hsl(17 35.2% 92.1%);
  --bronze5: hsl(17 31.5% 88.2%);
  --bronze6: hsl(17 29% 83%);
  --bronze7: hsl(17 26.9% 75.6%);
  --bronze8: hsl(17 25.1% 66.5%);
  --bronze9: hsl(17 20% 54%);
  --bronze10: hsl(17 18.1% 50.1%);
  --bronze11: hsl(15 20% 43.1%);
  --bronze12: hsl(12 22% 21.5%);
}
